<nav class="nav-container">
  <div class="nav-container-title">
    <h1>Blog@pp</h1>
  </div>
  <div class="nav-container-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Create Post</a></li>
      <li><a href="/about">About me</a></li>
    </ul>
  </div>
</nav>
