<header class="header-container">
  <nav class="nav-container">
    <h1>Blog@pp</h1>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Create Post</a></li>
      <li><a href="#">About me</a></li>
    </ul>
  </nav>
</header>
