<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>About me</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="about-me-container">
      <h1 class="about-me-title">About me</h1>
      <div class="personal-info">
        <img
          src="assets/images/personal-image.jpg"
          alt="a personal photo"
          height="300"
          width="300"
        />
        <p>
          Yeah this very handsome man in your left it's me!!. I'm kidding as you
          noticed. Well, my name is Alexandros Savvidis and i'm a graduate
          student of the Computer Science Department of Aristotle University of
          Thessaloniki. Throughout the course of my studies, my main interests
          focused around web and app development and i developed a variety of
          apps such as a web page for woman rights, an Android App game, a Java
          quiz game etc. Also, beyond the love for programming and technologies,
          i'm passionate with Maths and problems-solving and i want to continue
          learning new things and develop more interesting apps, along side of
          course with you!. <br />
          As about my new chapter in my life, i want to go deeper in the web
          development and because of that, i follow a long schedule program
          based on learning all the aspects a web developer needs to know such
          as HTML,CSS, JavaScript, Node.js , databases etc. So this project is
          just a code training for understanding the express.js and EJS aspects.
        </p>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
