<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Blog@pp</title>
  </head>
  <body>
    <!--header part-->
    <%- include('partials/header.ejs') %>

    <div class="write-blog-container">
      <h1 class="write-blog-title">Write your own blog</h1>
      <form action="/submit" method="POST">
        <div>
          <label for="title">Title</label>
          <input type="text" id="title" name="blogTitle" required max="50" />
        </div>
        <div>
          <label for="description">Description</label>
          <textarea name="blogDescription" id="description" required></textarea>
        </div>

        <input type="submit" value="Submit" />
      </form>
    </div>
    <!--footer part-->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
