<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Blog@pp</title>
  </head>
  <body>
    <!--header part-->
    <%- include('partials/header.ejs') %>

    <main class="main-container"></main>
    <!--footer part-->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
