<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Blog@pp</title>
  </head>
  <body>
    <!--header part-->
    <%- include('partials/header.ejs') %>

    <div class="read-blog-container">
      <h1 class="read-blog-h1">Read Blog</h1>
      <div class="blog-container">
        <div class="blog">
          <div class="card-header">
            <h4>
              War latest: Putin's plane 'involved in illegally deporting
              Ukrainian children'
            </h4>
          </div>
          <div class="card-content">
            <p>
              The new NATO chief has warned Vladimir Putin is ramping up
              "reckless actions" and is using Ukraine as a "testing ground" for
              missiles. Meanwhile, US-backed research alleges the Kremlin
              leader's presidential plane has been involved in deporting
              Ukrainian children to Russia.
            </p>
          </div>
          <div class="card-footer">
            <p>
              <%= `${new Date().getDay()} ${new Date().getMonth()} ${new
              Date().getFullYear()}` %>
            </p>
            <a href="#">see more</a>
          </div>
        </div>
        <div class="blog"></div>
        <div class="blog"></div>
        <div class="blog"></div>
      </div>
    </div>

    <!--<div class="main-container">
      <h1>Blogs</h1>
      <ul>
        <% content.forEach((content)=>{%>
        <li><%=content %></li>
        <%}) %>
      </ul>
    </div>

  -->
    <!--footer part-->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
